.table{
  position: relative;
  background-color: white;
  width: 320px;
  height: 580px;
  top: 12px;
  bottom: 12px;
 border-radius: 10px;
}
.App{
display: flex;
flex-wrap: wrap;
position: relative;
top: 30px;
justify-content: center;
gap: 40px;
}
.center{
 
  opacity: 0.5;
  font-weight: bold;
  text-align: center;
  

}

.data{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.date{
  position: relative;
  top: 25px;
  font-weight:100;
  
  
}


.Tick{
  
  font-size: 20px;
  font-weight: bold;
  

}
.move{
  position: relative;
  left: 45px;
 
}

.button{
 height: 45px;
 width: 260px;
 position: relative;
 left: 20px;
 background-color: rgb(29, 180, 218);
 border: none;
 border-radius: 25px;
 color: white;
 font-weight: 800;
 bottom: 35px;


}
ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.vi{
border: 0.5px solid black;
width: 290px;
font-weight: 90;
opacity: 0.1;
position: relative;
left: 10px;
}
